.collectionSelector {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: desktop-vw(12px);
  }

  .collectionContent {
    flex: 1;
  }

  .collections {
    display: flex;
    flex-wrap: wrap;
    gap: desktop-vw(12px);
  }

  .collection {
    padding: desktop-vw(8px) desktop-vw(12px);
    border: 1px solid var(--green);
    border-radius: desktop-vw(4px);
    background: transparent;
    color: var(--green);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: rgba(var(--green-rgb), 0.1);
    }

    &.active {
      background: var(--green);
      color: var(--black);
    }
  }

  .collectionDescription {
    margin-top: desktop-vw(12px);
    padding: desktop-vw(12px);
    border-radius: desktop-vw(8px);
    background-color: rgba(var(--green-rgb), 0.05);
    overflow: hidden;
    margin-bottom: desktop-vw(8px);
  }
}
