.content {
  align-items: start;
  height: 100%;
  padding: desktop-vw(18px) 0 desktop-vw(24px) 0;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-areas:
    'about collections details'
    'about products details'
    'about products details';

  .aboutSection {
    grid-area: about;
    height: 100%;
    border-right: 1px solid var(--grey);
    padding-right: desktop-vw(24px);
  }

  .collectionsSection {
    grid-area: collections;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .productsSection {
    grid-area: products;
    height: 100%;
    padding-top: 0;
    margin-top: 0;
    align-self: flex-start;
  }

  .detailsSection {
    grid-area: details;
    height: 100%;
    border-left: 1px solid var(--grey);
    padding-left: desktop-vw(24px);
  }

  > section {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: desktop-vh(40px);
      z-index: 1;
      pointer-events: none;
    }
  }
}
